html {
  -webkit-text-size-adjust: 100%;
}

input,
textarea,
select,
.ant-input,
.ant-select-selector,
.ant-select-selection-item,
.ant-select-selection-placeholder {
  font-size: 16px !important;
}

input::placeholder,
textarea::placeholder,
.ant-select-selection-placeholder {
  font-size: 16px !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
